:root {
    --container-background-color: #00000015;
    --completed-background-color: #00000025;
    --form-border-color: 3px solid #000000;
    --header-text-color: #1c2833;
    --input-border-radius: 10%;
    --html-background-color: #5b9bd590;
    --html-border-color: 2px outset #2c3e50;
    --html-text-color: #2c3e50;
    --projects-border-color: 3px solid #00000050;
    --task-background-color: #ffffff;
    --task-border-color: 3px outset #708090;
    --task-completed-background-color: #000095;
    --todo-border-color: #00000075;

    font-size: 62.5%;
}

html {
    background-color: var(--html-background-color);
    box-sizing: border-box;
    color: var(--html-text-color);
    font-size: 1.6rem;
    text-align: center;
}

header {
    align-items: center;
    color: var(--header-text-color);
    display: flex;
    height: 2%;
    justify-content: center;
    width: 100%;
}

div {
    box-shadow: 2px 2px 2px 2px black;
}

h1 {
    font-size: 4rem;
    margin: 1%;
    padding: 0;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.2rem;
}

input {
    border: 3px inset black;
    border-radius: var(--input-border-radius);
    box-shadow: 2px 2px 2px 2px black;
    height: 4vh;
    padding: 5%;
    width: 90%;
}

.container {
    background-color: var(--container-background-color);
    border: var(--html-border-color);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
    display: grid;
    font-size: 1.6rem;
    gap: 1%;
    grid-auto-flow: column;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-template-areas:
        "form projects projects completed"
        "form projects projects completed"
        "form todo-list todo-list completed"
        "form todo-list todo-list completed";
    height: 83vh;
    margin: auto;
    padding: 1em;
    width: 98%;
}

.display-div {
    align-items: center;
    border-radius: 2%;
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    padding: 1%;

}

.todo-list {
    border: var(--html-border-color);
    display: flex;
    flex-flow: row wrap;
    grid-area: todo-list;
}

.div-header {
    margin: 0;
    padding: 1%;
    width: 100%;
}

.task {
    background-color: var(--task-background-color);
    border: var(--task-border-color);
    border-radius: 25%;
    font-size: 1rem;
    font-weight: bolder;
    height: 24rem;
    margin: 1%;
    width: 30%;
}

.task > * {
    line-height: 1em;
}

.done {
    background-color: var(--task-completed-background-color);
    border: 3px outset green;
    color: white;
}

.projects {
    border: var(--projects-border-color);
    grid-area: projects;
}

.completed {
    border: var(--completed-background-color);
    grid-area: completed;
}

.form {
    border: var(--form-border-color);
    grid-area: form;
}

.form-data {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 2%;
    height: 90%;
    justify-content: center;
    width: 90%;
}

#priority-level {
    box-shadow: none;
}

#priority-level, #priority-value {
    margin: 0 auto;
    padding: 0;
}

label {
    margin: 1% auto 0;
}

.add-task-btn {
    background-color: #000095;   
    border: 5px outset silver;
    border-radius: 10%;
    color: whitesmoke;
    height: 10vh;
    width: 20vw;
}