:root {
    --header-text-color: #1c2833;
    --main-background-color: #5b9bd590;
    --main-border-color: 2px outset #2c3e50;
    --main-text-color: #2c3e50;
    --task-background-color: #ffffff;
    --task-border-color: 3px outset #708090;
    --task-completed-background-color: #000095;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--main-background-color);
    box-sizing: border-box;
    color: var(--main-text-color);
    font-size: 62.5%;
    text-align: center;
}

header {
    align-items: center;
    color: var(--header-text-color);
    display: flex;
    height: 10vh;
    justify-content: center;
    width: 100%;
}

header h1 {
    font-size: 4.8rem;
}

.container {
    border: var(--main-border-color);
    height: 99vh;
    width: 100vw;
}

.todo-list {
    border: var(--main-border-color);
    border-radius: 2%;
    height: 100%;
    margin: 1%;
    overflow: scroll;
    width: 45%;
}

.task {
    background-color: var(--task-background-color);
    border: var(--task-border-color);
    border-radius: 25%;
    color: var(--main-text-color);
    font-weight: bolder;
    margin: 2% auto;
    padding: 3%;
    width: 90%;
}

.completed {
    background-color: var(--task-completed-background-color);
    border: 3px outset green;
    color: white;
}